<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Sketcho Prototype</title>
    <script src="/socket.io/socket.io.js"></script>
    <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.4.5/socket.io.min.js"></script> -->
    <script type="text/javascript" src="https://p5livemedia.itp.io/simplepeer.min.js"></script>
    <script type="text/javascript" src="https://p5livemedia.itp.io/p5livemedia.js"></script>
    <!-- <script type="text/javascript" src="https://p5livemedia.itp.io/socket.io.js"></script>     -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/1.1.9/p5.min.js" ></script>

    <link rel="stylesheet" type="text/css" href="/css/home/style.css">
    <link rel="stylesheet" type="text/css" href="./fontawesome/css/all.css">
    <script src="./fontawesome/js/all.js"></script>
    <!-- <link href='http://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'> -->
    <meta charset="utf-8"/>
    <link rel="icon" href="data:;base64,iVBORw0KGgo="> 
  </head>
  <body>
    <input type="checkbox" id="check">
    <label for="check">
      <i class="fas fa-th-large" id="btn"></i>
      <i class="fas fa-times" id="cancel"></i>
      <!-- <i class="" id="btn"></i>
      <i class="" id="cancel"></i> -->
    </label>
    <div class="sidebar">
      <header>Sketcho</header>
      <ul>
        <li><a href="1_preparation.ejs"><i class="fas fa-coffee"></i>Preparation room</a></li>
        <li><a href="2_outfit.ejs"><i class="fas fa-theater-masks"></i>Outfit room</a></li>
        <li><a href="3_play.ejs"><i class="fas fa-smile"></i>Play room</a></li>
        <li><a href="4_mainSession.ejs"><i class="fas fa-border-all"></i>Main Session</a></li>
        <li><a href="5_breakoutroom1.ejs"><i class="fas fa-comments"></i>breakout room1</a></li>
        <li><a href="6_breakoutroom2.ejs"><i class="fas fa-comments"></i>breakout room2</a></li>
        <li><a href="7_breakoutroom3.ejs"><i class="fas fa-comments"></i>breakout room3</a></li>
        <li><a href="8_party.ejs"><i class="fas fa-wine-glass"></i>Party time</a></li>
        <li><a href="9_refreshroom.ejs"><i class="fas fa-umbrella-beach"></i>Refreshroom : Feedback</a></li>
      </ul>
    </div>
    <div class="icon-bar">
      <a href="#"><a button id="mute"><i class = "fas fa-microphone"></i></a>
      <a href="#"><a button id="camera"><i class = "fas fa-video"></i></a> 
  </div>
  </body>
  <script src="js/home/2_outfit.js"></script>
</html>
