<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/home/login.css">
    <script src="/js/home/register.js" defer></script>
    <title>Document</title>
</head>
<body>
    <div class="login-page">
        <div class="form">
          <form class="login-form">
            <input id="id" type="text" placeholder="username"/>
            <input id="name" type="text" placeholder="name"/>
            <input id="psword" type="password" placeholder="password"/>
            <input id="confirm-psword" type="password" placeholder="confirm password"/>
            <p id="button">SIGN UP</p>
            <p class="message">Already registered? <a href="/login">login</a></p>
          </form>
        </div>
      </div>       
</body>
</html>

<!-- Copyright (c) 2021 by Aigars Silkalns (https://codepen.io/colorlib/pen/rxddKy) -->